#formPage {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    height: 480px;
    width: 500px;
    top: 40px;
    left: 500px;
    padding-bottom: 10px;
}

.title{
    text-align: center;
}

.container{
    padding-left: 30px; 
    padding-right: 30px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
  display: block;
  top:10px;
  margin: 0 auto;
  margin-top: 30px;
  color: black;
  background-color: rgb(6, 130, 255);
  padding: 15px;
  border: none;
  border-radius: 15px;
}

.labels{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}