#formPage {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    width: 500px;
    top: 50px;
    left: 500px;

}

.title{
    text-align: center;
}

.container{
    padding: 10px;
    top: 60px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap:15px;
}

.button {
  display: block;
  margin: 0 auto;
}