body {
    background: #eef2f7;
    font-family: Arial;
}

.box {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1 {
    text-align: center;
}
