body{
    font-family: Arial;
    background:#f4f6fb;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:100px;
}

.card{
    width:300px;
    padding:30px;
    border-radius:15px;
    color:#fff;
}

.blue{background:linear-gradient(135deg,#1e90ff,#00c6ff);}
.purple{background:linear-gradient(135deg,#7b5cff,#b36cff);}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:#fff;
    color:#333;
    border-radius:30px;
    text-decoration:none;
}

.card-form, .payment-card{
    width:500px;
    margin:50px auto;
    background:#fff;
    padding:30px;
    border-radius:15px;
}

input, select, button{
    width:100%;
    padding:12px;
    margin-top:10px;
}

button{
    background:#5b4bff;
    color:#fff;
    border:none;
    border-radius:8px;
}

.whatsapp{
    display:block;
    margin-top:20px;
    text-align:center;
    background:#25d366;
    color:#fff;
    padding:12px;
    border-radius:8px;
}
